.date-input-container {
  position: relative;
  width: 100%;
}

.date-input-visual {
  display: flex;
  align-items: center;
  height: 34px;
  background-color: transparent;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 6px 12px;
  gap: 8px;
}

.date-input-visual.has-error {
  border-color: #ef4444;
}

.date-input-visual input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  height: 100%;
}

.date-input-icon {
  cursor: pointer;
  color: #8F9DB1;
  font-size: 13px;
}

.date-input-hidden {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
